body{
	background-color: #000000;
}

#text {
	color: #FFFFFF;
	font-family: "Geist", sans-serif;
	font-style: normal;
	font-weight: normal;
}

.ascii {
	font-size: 0.4vw;
	line-height: 0.7;
}

pre {
	font-family: "Geist", sans-serif;
	font-style: normal;
	font-weight: normal;
}
