@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');
@font-face {
	font-family: Geist;
	src: @import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');
}

body{
	background-color: #000000;
}

#text {
	color: #FFFFFF;
	font: "Geist", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
}

.ascii {
	font-size: 0,5vw;
	line-height: 60%;
}
