@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
// <weight>: Use a value from 100 to 900
.geist-font {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
	background-color: #000000;
}

#text {
	color: #FFFFFF;
	font: "Geist", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
}

.ascii {
	font-size: 0,5vw;
	line-height: 60%;
}
