body{
	background-color: #000000;
}

#text {
	color: #FFFFFF;
	font-family: "Geist", sans-serif;
	font-style: normal;
	font-weight: normal;
}

.ascii {
	color: #FFFFFF;
	font-family: "Geist", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.2vw;
	line-height: 0.8;
}
