body{
	background-color: #000000;
}

#text {
	color: #FFFFFF;
	font-family: "Geist", sans-serif;
	font-style: normal;
	font-weight: normal;
}

.ascii {
	padding-left: 0.5vw;
	border-left: 0.2vw solid #FFFFFF;
	padding-bottom: 0.5vw;
	border-bottom: 0.2vw solid #FFFFFF;
	float: right;
	margin-right: 1vw;
	font-size: 0.4vw;
	line-height: 0.7;
}

pre {
	font-family: "Geist Mono", monospace !important;
  	font-optical-sizing: auto;
  	font-weight: normal;
  	font-style: normal;
}
